body {
    background-color: #f3f3f3;
}
.profile {
    padding: 20px;

}

.first-p {
    color: #818181;
    padding: 22px;
}
.nth-p {
    color:#ffffff;
}

.panel-body {
    padding-left: 35px!important;
    padding-right: 35px!important;
}